*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, black, black, black,black,red,red, red, red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#main-div{
    height: 80vh;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 20px 0px 30px;
    font-size: 30px;
}
input{
    font-size: 25px;
    padding: 10px 15px;
}
#container1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 95%;
}
.btn{
    background-image: linear-gradient(90deg,black, black, black,black,red,red, red, red);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
}
#container2{
    margin-top: 30px;
    height: 37vh;
    width: 95%;
    overflow-y: auto;
}
ul{
    list-style-type: none;
}
li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px !important;
}
#btn2{
    color: white;
    background-color: black;
    border: none;
    margin-left: 5px;
    padding: 5px 10px;
}
#btn3{
    color: white;
    background-color: red;
    border: none;
    margin-left: 5px;
    padding: 5px 10px;
}