*{
    margin: 0%;
}
@font-face {
    font-family: SF Pro;
    src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2a);
}
#navbar{
    background-color: #333333;
    text-align: center;
    position: fixed;
    width: 100%;
}
#nav-img:hover{
    cursor: pointer;
}
.nav-elements{
    color: #d1d1d1;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding-left: 3.5%;
    font-size: 90%;
}
.nav-elements:hover{
    color: white;
    cursor: pointer;
}
.icon{
    padding-left: 3.5%;
    width: 1%;
}
.icon:hover{
    cursor: pointer;
}
#container1{
    background-color: #F5F5F7;
    padding-top: 3.5%;
    padding-bottom: 1%;
    text-align: center;
}
#para1{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6B6B6D;
    font-size: 90%;
}
.link{
    color: #478FD9;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
#container2{
    background-image: url(./assets/images/image1.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-color: #FBFBFD;
    background-position: center;
    width: 100%;
    height: 700px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#container2:hover{
    cursor: pointer;
}
#txt1{
    padding-top: 3.5%;
    font-size: 350%;
    font-weight: 600;
    display: block;
    color: #1D1D1F;
}
#txt2{
    padding-top: 0.3%;
    font-size: 190%;
    display: block;
    color: #1D1D1F;
}
#txt3{
    padding-top: 0.5%;
    font-size: 110%;
    display: block;
    color: #909095;
    padding-bottom: 1.5%;
}
#txt4{
    font-size: 140%;
    color: #287ED4;
    padding-right: 1%;
}
#txt5{
    font-size: 140%;
    color: #287ED4;
    padding-left: 1%;
}
#txt4:hover{
    text-decoration: underline;
}
#txt5:hover{
    text-decoration: underline;
}
#container3{
    background-image: url(./assets/images/image2.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    margin-top: 1%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#container3:hover{
    cursor: pointer;
}
#txt6{
    padding-top: 3.5%;
    font-size: 350%;
    font-weight: 600;
    display: block;
    color: #F0F0F2;
}
#txt7{
    padding-top: 0.2%;
    font-size: 170%;
    display: block;
    color: #F9BEE6;
}
#txt8{
    padding-top: 0.6%;
    font-size: 110%;
    display: block;
    color: #76747C;
    padding-bottom: 1%;
}
#txt9{
    font-size: 130%;
    color: #287ED4;
    padding-right: 1%;
}
#txt10{
    font-size: 130%;
    color: #287ED4;
    padding-left: 1%;
}
#txt9:hover{
    text-decoration: underline #2996FE;
}
#txt10:hover{
    text-decoration: underline #2996FE;
}
#container4{
    background-image: url(./assets/images/image3.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBFBFD;
    width: 100%;
    height: 700px;
    margin-top: 1%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#container4:hover{
    cursor: pointer;
}
#watch{
    padding-top: 2%;
    width: 12%;
}
#txt11{
    padding-top: 1%;
    font-size: 160%;
    display: block;
    color: #1D1D1F;
}
#txt12{
    padding-top: 1%;
    font-size: 110%;
    display: block;
    color: #A6A6AB;
    padding-bottom: 0.7%;
}
#txt13{
    font-size: 125%;
    color: #1472D0;
}
#txt13:hover{
    text-decoration: underline #0066CC;
}
#super-cont1{
    margin-top: 0.5%;
    display: flex;
    width: 100%;
}
#container5{
    background-image: url(./assets/images/hello.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container5:hover{
    cursor: pointer;
}
#txt14{
    padding-top: 7%;
    font-size: 110%;
    display: block;
    color: #BF4800;
}
#txt15{
    padding-top: 0.3%;
    font-size: 250%;
    display: block;
    font-weight: bold;
    color: #1D1D1F;
    padding-bottom: 0.8%;
    letter-spacing: -1.5px;
}
sup{
    font-size: 50%;
}
#txt16{
    font-size: 105%;
    color: #0066CC;
    padding-right: 1%;
}
#txt16:hover{
    text-decoration: underline #0066CC;
}
#container6{
    background-image: url(./assets/images/ipadmini.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 49%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container6:hover{
    cursor: pointer;
}
#img-3{
    padding-top: 8%;
    width: 20%;
}
#txt17{
    padding-top: 0.6%;
    font-size: 130%;
    display: block;
    color: #5A5A5D;
}
#txt18{
    padding-top: 1%;
    font-size: 75%;
    display: block;
    color: #A1A1A5;
    padding-bottom: 0.8%;
}
#txt19{
    font-size: 105%;
    color: #287ED4;
    padding-right: 1%;
}
#txt20{
    font-size: 105%;
    color: #287ED4;
    padding-left: 1%;
}
#txt19:hover{
    text-decoration: underline #0066CC;
}
#txt20:hover{
    text-decoration: underline #0066CC;
}
#super-cont2{
    width: 100%;
    display: flex;
}
#container7{
    background-image: url(./assets/images/imac.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container7:hover{
    cursor: pointer;
}
#txt21{
    padding-top: 8%;
    font-size: 250%;
    display: block;
    color: #1D1D1F;
}
#txt22{
    padding-top: 0.7%;
    font-size: 125%;
    display: block;
    color: #454547;
    padding-bottom: 1%;
}
#txt23{
    font-size: 105%;
    color: #1472D0;
    padding-right: 3%;
}
#txt24{
    font-size: 105%;
    color: #1472D0;
}
#txt23:hover{
    text-decoration: underline #0066CC;
}
#txt24:hover{
    text-decoration: underline #0066CC;
}
#container8{
    background-image: url(./assets/images/afitness.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 49%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container8:hover{
    cursor: pointer;
}
#img-4{
    padding-top: 7%;
    width: 22%;
}
#txt25{
    color: #58585A;
    font-size: 130%;
    padding-top: 1.5%;
    display: block;
    padding-bottom: 1.5%;
}
#txt26{
    font-size: 105%;
    padding-right: 1%;
    color: #1371CF;
}
#txt27{
    padding-left: 1%;
    font-size: 105%;
    color: #1371CF;
}
#txt26:hover{
    text-decoration: underline #0066CC;
}
#txt27:hover{
    text-decoration: underline #0066CC;
}
#super-cont3{
    width: 100%;
    display: flex;
}
#container9{
    background-image: url(./assets/images/acard.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container9:hover{
    cursor: pointer;
}
#img-5{
    width: 19%;
    padding-top: 7%;
}
#txt28{
    padding-top: 1%;
    font-size: 125%;
    display: block;
    color: #5A5A5D;
    padding-bottom: 1.5%;
}
#txt29{
    font-size: 105%;
    color: #1472D0;
    padding-right: 2%;
}
#txt30{
    font-size: 105%;
    color: #1472D0;
    padding-left: 1%;
}
#txt29:hover{
    text-decoration: underline #0066CC;
}
#txt30:hover{
    text-decoration: underline #0066CC;
}
#container10{
    background-image: url(./assets/images/awards.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 49%;
    height: 600px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    margin-left: 1%;
}
#container10:hover{
    cursor: pointer;
}
#img-6{
    padding-top: 8%;
    width: 10%;
}
#img-7{
    padding-top: 39%;
    padding-bottom: 7%;
}
#txt31{
    font-size: 105%;
    color: #2895FD;
}
#txt31:hover{
    text-decoration: underline #2997FF;
}
#container11{
    background-color: #F5F5F7;
    margin-top: 0.5%;
}
.para2{
    padding-top: 1%;
    color: #88888D;
    width: 60%;
    padding-left: 20%;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 19px;
    font-size: 80%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.txt32:hover{
    text-decoration: underline #1D1D1F 1px;
    cursor: pointer;
}
hr{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
table{
    width: 60%;
    margin-left: 20%;
    font-size: 75%;
    border-spacing: 10px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
th{
    color: #1D1D1F;
    text-align: left;
}
td{
    color: #88888D;
}
td:hover{
    text-decoration: underline #1D1D1F 1px;
    cursor: pointer;
}
.txt33{
    color: #64A0DE;
}
.txt33:hover{
    text-decoration: underline #0066CC;
}
#para3{
    padding-top: 0.2%;
}
.txt34{
    padding-left: 15%;
}
.txt34:hover{
    text-decoration: underline #1D1D1F 1px;
    cursor: pointer;
}