*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: NeueMontreal;
    src: url(./assets/fonts/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: Scheherazade;
    src: url(./assets/fonts/ScheherazadeNew-Regular.ttf);
}
#maindiv{
    width: 70%;
    margin: 0px auto !important;
}

/* --- navbar start --- */

#navdiv{
    position: fixed;
    display: flex;
    width: 70%;
    background-color: #ffffff;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
#container1>ul{
    list-style-type: none;
    display: flex;
    width: 150%;
    justify-content: space-evenly;
    align-items: center;
}
#heading{
    font-family: NeueMontreal;
    font-size: 35px;
    color: #14A800;
    font-weight: bold;
}
#container2>ul{
    list-style-type: none;
    display: flex;
    width: 150%;
    justify-content: space-between;
    align-items: center;
}
#container2>ul>li{
    margin-left: -100px;
    margin-right: 70px;
}
.navheading{
    color: #65735B;
    font-size: 15px;
    font-family: NeueMontreal;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
#navsgnup>button{
    font-family: NeueMontreal;
    color: #ffffff;
    font-size: 15px;
    background-color: #14A800;
    border: none;
    outline: none;
    text-transform: capitalize;
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
#navsgnup>button:hover{
    background-color: #3C8224;
    cursor: pointer;
}

/* --- navbar end --- */

#container3{
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container3 > h1{
    font-size: 90px;
    font-family: Scheherazade;
    line-height: 90px;
    margin-top: 70px;
    font-stretch: extra-expanded;
    letter-spacing: 3px;
    text-align: center;
}
#btns{
    margin-top: 50px;
}
#btns>button{
    font-size: 23px;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 5px 20px;
}
#btn1{
    color: #14A800;
    border-bottom: 2px solid #14A800 !important;
    font-family: NeueMontreal;
}
#btn2{
    color: #65735B;
    border-bottom: 2px solid lightgray !important;
    font-family: NeueMontreal;
}
#btn1:hover{
    cursor: pointer;
}
#btn2:hover{
    color: #14A800;
    cursor: pointer;
}
#searchbar{
    margin-top: 40px;
    display: flex;
    width: 750px;
    height: 76px;
    border: 2px solid #e4ebe4;
    border-radius: 50px;
}
#searchbar:hover{
    border: 2px solid #14A800;
    cursor: text;
    transition: all 0.5s;
}
input{
    margin: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
}
#icon{
    background-color: #14A800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    width: 60px;
    margin-left: 350px;
    margin-top: 8px;
    margin-bottom: 8px;

}
#srch-icon{
    color: #ffffff;
    font-size: 28px;
    margin: 15px 20px;
}
#btns2{
    margin-top: 40px;
}
#btns2>button{
    font-size: 15px;
    font-family: NeueMontreal;
    padding: 6px 18px;
    border: none;
    outline: none;
    background-color: #F2F7F2;
    border-radius: 50px;
    letter-spacing: 0.5px;
}
#btns3{
    margin-top: 15px;
}
#btns3>button{
    font-size: 15px;
    font-family: NeueMontreal;
    padding: 6px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #F2F7F2;
    letter-spacing: 0.5px;
}
#btns2>button:hover{
    background-color: #E4EBE4;
    cursor: pointer;
}
#btns3>button:hover{
    background-color: #E4EBE4;
    cursor: pointer;
}

#container4{
    display: flex;
    margin-top: 165px;
    justify-content: space-evenly;
    align-items: center;
}
#container4 > h2{
    font-size: 16px;
    font-family: NeueMontreal;
    letter-spacing: 1px;
    color: #9AAA97;
}

#container5{
    background-image: url(./assets/images/find-talent.jpg);
    margin-top: 30px;
    border-radius: 10px;
    height: 69vh;
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
}
#container5 > h2{
    color: #ffffff;
    font-size: 24px;
    font-family: NeueMontreal;
    letter-spacing: 1.4px;
    padding: 35px 35px;
}
#container5 > h3{
    color: #ffffff;
    font-size: 80px;
    font-family: Scheherazade;
    line-height: 70px;
    padding: 50px 35px;
    letter-spacing: 2px;
}
#container5 > p{
    color: #ffffff;
    font-size: 19px;
    font-family: NeueMontreal;
    letter-spacing: 1px;
    padding: 0px 35px;
}
#small-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}
.card{
    background-color: #14A800;
    padding: 15px 0px;
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 10px;
    color: #ffffff;
}
.card:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: #14A800;
    transition: all 0.2s;
}
.card > p{
    font-size: 36px;
    font-family: NeueMontreal;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 40px;
}
.card > h4{
    font-size: 18px;
    font-family: NeueMontreal;
    letter-spacing: 0.5px;
    font-weight: 100;
}
sup{
    font-size: 11px;
}
#container6{
    display: flex;
}
#sub-div1{
    background-image: url(./assets/images/find-great.jpg);
    height: 68vh;
    margin-top: 100px;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}
#sub-div2{
    background-color: #1F57C3;
    height: 68vh;
    margin-top: 100px;
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}
#sub-div2 > h2{
    color: #ffffff;
    font-size: 24px;
    font-family: NeueMontreal;
    letter-spacing: 1.4px;
    padding: 30px 30px;
}
#sub-div2 > h3{
    color: #ffffff;
    font-size: 80px;
    font-family: Scheherazade;
    line-height: 70px;
    padding: 0px 30px;
    letter-spacing: 4px;
}
#sub-div2 > p{
    color: #ffffff;
    font-size: 18px;
    font-family: NeueMontreal;
    letter-spacing: 1px;
    padding: 30px 30px;
}
#small-container2{
    padding-top: 10px;
    margin-left: 30px;
    margin-top: 110px;
    border-top: 1px solid #ffffff;
    display: flex;
    width: 90%;
    justify-content: space-between !important;
}
#small-container2 > p{
    color: #ffffff;
    font-size: 18px;
    font-family: NeueMontreal;
    letter-spacing: 0.7px;
    width: 160px;
}
#sub-div2 > button{
    margin: 30px 30px;
    color: #1F57C3;
    font-size: 15px;
    background-color: #ffffff;
    padding: 12px 29px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: bold;
}
#sub-div2 > button:hover{
    cursor: pointer;
}

#container7{
    margin-top: 100px;
    display: flex;
}
#container7 > h1{
    font-size: 85px;
    font-family: Scheherazade;
    color: #001E00;
    line-height: 75px;
    letter-spacing: 2px;
}
#small-container3{
    margin-top: 265px;
    margin-left: -200px;
    margin-right: 5px;

}
.img{
    border-radius: 10px;
    width: 350px;
}
.para{
    color: #14A800;
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
    padding-bottom: 40px;
    font-family: Scheherazade;
    line-height: 32px;
    letter-spacing: 1px;
}
.heading2{
    width: 350px;
    border-top: 1px solid #001E00;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #001E00;
    font-size: 19px;
    font-family: NeueMontreal;
    letter-spacing: 1px;
}
.heading3{
    color: #65735B;
    font-size: 18px;
    font-family: NeueMontreal;
    letter-spacing: 1px; 
}

#container8{
    display: flex;
    margin-top: 100px;
}
#sub-container{
    background-color: #14A800;
    height: 66.7vh;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}
#sub-container2{
    background-image: url(./assets/images/clearly-rated.jpg);
    height: 66.7vh;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}
#sub-container > h1{
    color: #ffffff;
    font-size: 80px;
    font-family: Scheherazade;
    letter-spacing: 2px;
    line-height: 80px;
    margin: 30px 0px 100px 30px;
}
#small-div{
    display: flex;
    padding-top: 70px;
}
#sub-container3{
    color: #ffffff;
    border-top: 1px solid #ffffff;
    margin: 0px 30px;
    width: 45%;
    font-family: NeueMontreal;
    letter-spacing: 1px;
}
#sub-container4{
    color: #ffffff;
    border-top: 1px solid #ffffff;
    margin-right: 30px;
    width: 45%;
    font-family: NeueMontreal;
    letter-spacing: 1px;
}
.heading-2{
    font-size: 17px;
    margin-top: 20px;
}
.heading-3{
    font-size: 25px;
    margin: 10px 0px;
}
.fa-star{
    font-size: 15px;
}
#star-icons{
    display: inline-flex;
    margin-left: 10px;
}
.img-1{
    width: 30px;
    margin-top: 15px;
}
.img-2{
    width: 120px;
    margin-top: 35px;
}

#container9{
    margin-top: 100px;
    display: flex;
    font-family: NeueMontreal;
    line-height: 50px;
    letter-spacing: 1px;
}
#list1{
    margin-right: 100px;
    font-size: 35px;
    margin-left: 30px;
    font-weight: bold;
    color: #D5E0D5;
    line-height: 60px;
}
#list-value{
    color: #14A800;
}
#list1 > ul{
    list-style-type: none;
}
#list1 > ul > li:hover{
    color: #3C8224;
    cursor: pointer;
}
#list2{
    margin-right: 100px;
    font-size: 25px;
    color: #65735B;
    letter-spacing: 0.5px;
}
#list2 > ul{
    list-style-type: none;
}
#list2 > ul > li:hover{
    color: #3C8224;
    cursor: pointer;
}
#list3{
    margin-right: 100px;
    font-size: 25px;
    color: #65735B;
    letter-spacing: 0.5px;
}
#list3 > ul{
    list-style-type: none;
}
#list3 > ul > li:hover{
    color: #3C8224;
    cursor: pointer;
}

/* --- footer --- */

#container10{
    margin-top: 100px;
    background-color: #001E00;
    width: 100%;
    height: 67vh;
}
#footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
    padding: 42.5px 0px;
}
#footer > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-family: NeueMontreal;
    letter-spacing: 1px;
}
#footer > ul > li > a:hover{
    text-decoration: underline;
}
#footer > ul > li{
    line-height: 35px; 
    font-size: 13px;
}
#footer > ul{
    list-style-type: none;
}
.list-heading{
    line-height: 50px !important;
    font-size: 14px !important;
}
.list-heading > a:hover{
    text-decoration: none !important;
    cursor: text;
}
#footer-2{
    width: 70%;
    display: flex;
    color: #ffffff;
    font-family: NeueMontreal;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0px auto;
    border-top: 1px solid #65735B;
    border-bottom: 1px solid #65735B;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
#follow{
    display: flex;
    align-items: center;
}
#mobile{
    display: flex;
    align-items: center;
}
.footer-icons{
    border: 1px solid #65735B;
    border-radius: 100px;
    padding: 7px;
    margin: 0px 5px;
}
.footer-icons:hover{
    background-color: #65735B;
    cursor: pointer;
    transition: all 0.5ms;
}
.facebook{
    margin-left: 20px;
    padding: 7px 11px;
}
.linkedin{
    padding: 7px 9px;
}
.instagram{
    padding: 7px 9px;
}
.apple{
    margin-left: 15px;
    padding: 7px 9px;
}
i{
    font-size: 17px;
}
#footer-3{
    width: 70%;
    margin: 20px auto;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-right: 500px;
    font-family: NeueMontreal;
    font-size: 14px;
    letter-spacing: 1px;
    align-items: center;
}
#footer-3 > a{
    color: #ffffff;
    text-decoration: none;
}
#footer-3 > a:hover{
    text-decoration: underline;
}
span{
    font-size: 25px;
    color: #65735B;
}