*{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: white;
    color: grey;
    font-size: 200%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#a14{
    background-color: hsla(224, 100%, 51%, 0.950);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a13{
    background-color: hsla(224, 100%, 51%, 0.850);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a12{
    background-color: hsla(224, 100%, 51%, 0.750);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a11{
    background-color: hsla(224, 100%, 51%, 0.650);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a10{
    background-color: hsla(224, 100%, 51%, 0.550);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a9{
    background-color: hsla(224, 100%, 51%, 0.450);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a8{
    background-color: hsla(224, 100%, 51%, 0.350);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a7{
    background-color: hsla(106, 97%, 39%, 0.89);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a6{
    background-color: rgba(255, 5, 234, 0.200);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a5{
    background-color: rgba(255, 5, 234, 0.300);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a4{
    background-color: rgba(255, 5, 234, 0.400);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a3{
    background-color: rgba(255, 5, 234, 0.500);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a2{
    background-color: rgba(255, 5, 234, 0.600);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a1{
    background-color: rgba(255, 5, 222, 0.7);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
#a0{
    background-color: rgba(255, 5, 201, 0.8);
    color: white;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}